*{
	text-align:center;
}
.div{
	text-align:left;
	text-indent:2px;
}
.i-table{
	width:96%;
	border:1px solid #f7fbbb;
	border-collapse:collapse;/*合并单边框  */
}
tr:nth-of-type(even){
	background-color:#f7fbff;
	/* 设置偶数行背景色 */
}
tr:nth-of-type(odd){
	background-color:#ebf5ff;
	/* 设置奇数行背景色 */
}
.price{
	color:#999;
	text-decoration:line-through;/* 设置文本装饰效果无 */
}
 .bn {  
      display: block; 
      text-decoration:none;/*设置文本装饰效果无*/         
       width: 80px;           
      height: 30px;            
      line-height: 30px;         
      margin: 0 auto;/*让按钮水平居中*/        
      background: #C30;            
      color: #FFF;          
      border-radius: 5px;/*设置圆角属性*/       
         }         
 .bn:hover {        
      background: #FC0;      
      color: #333; 
 } 

 h1{
text-shadow:-1px -1px rgba(197,223,248,0.8),
            -2px -2px rgba(197,223,248,0.8),
            -3px -3px rgba(197,223,248,0.8),
            -4px -4px rgba(197,223,248,0.8),
            -5px -5px rgba(197,223,248,0.8),
            -6px -6px rgba(197,223,248,0.8);
}
caption b{
	font-size:14px;
	color:blue;
}
tr td a{
	width:60px;
	line-height:30px;
	text-decoration:none;
	text-align:center;
	background-color:red;
	color:white;
	border-radius:5px;
	display:block;/*把行内元素变为块级元素即可以增加悬停效果 */
}
a:hover{
	background-color:yellow;
	color:balck;
}
table tr td{
	border:1px solid #c3dcf5;
}